usar_lista_fija: false
lista_lenguajes: []
scraper:
    tiobe_site_format: https://www.tiobe.com/tiobe-index/
    github_site_format: https://github.com/topics/%v
    aliases:
        C#: csharp
        C++: cpp
        Classic Visual Basic: visual-basic
        Delphi/Object Pascal: delphi
    retry_delays_ms:
        - 300
        - 600
        - 1200
    max_pages_interest: 10
    interest: sort
    max_parallel: 2
    github_interest_format: https://github.com/topics/%v?o=desc&s=updated&page=%v
archivo_html_grafo: grafo.html
archivo_resultado: resultado.txt
